<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LocalFilePath" value="C:\\temp"/>
    <add key="NumberOfTrial" value="10"/>
    <add key="RetrialDelay" value="10"/>
    <add key="NumberOfSegments" value="20"/>
    <add key="MinSizeSegment" value="20000"/>
    <add key="Timeout" value="90000"/>
    <add key="LogFilePath" value="C:\\temp\\log.txt"/>
  </appSettings>
</configuration>