<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LocalFilePath" value="C:\\temp"/>
    <add key="NumberOfTrial" value="10"/>
    <add key="RetrialDelay" value="30"/>
    <add key="NumberOfSegments" value="10"/>
    <add key="MinSizeSegment" value="200000"/>
  </appSettings>
</configuration>